* {
    margin: 0;
  }
  .unleash-page {
    min-height: 100vh;
    width: 100%;
    background-color: #f4f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .unleash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  .unleash-container-item1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    padding: 15px;
  }
  .unleash-heading {
    font-size: 35px;
    font-weight: bold;
    margin: 5px 0;
    width: 60%;
  }
  
  .unleash-container-sub-item2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
  }
  .unleashText {
    width: 40%;
    color: gray;
  }
  .unleash-showall {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .unleash-showall:hover {
  text-decoration: underline;
  }
  .unleash-container-item2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
  }
  .unleash-container-item2-card {
    height: 250px;
    width: 355px;
  
    margin: 20px;
    box-shadow: 3px 3px 5px grey;
    padding: 25px 12px;
    transform: 1s;
    display: flex;
    justify-content: flex-start;
  
    flex-direction: column;
    cursor: pointer;
  }
  .unleash-container-item2-card:hover {
    box-shadow: 5px 5px 9px grey;
  }
  .unleash-container-item2-card-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin-right: 15px;
    margin-top: -5px;
    margin-bottom: 25px;
    font-size: larger;
  }
  .unleash-container-item2-card-heading {
    font-weight: bold;
    margin-bottom: 15px;
  }
  .unleash-container-item2-card-text {
    font-size: 14px;
    color: gray;
    width: 80%;
  }

  