* {
  margin: 0;
}
.exp-jobs-page {
  min-height: 100vh;
  width: 100%;
  background-color: #f4f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.exp-jobs-comp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.exp-jobs-comp-top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exp-jobs-heading {
  font-size: 35px;
  font-weight: bold;
  margin: 5px 0;
  letter-spacing: 1px;
}
.exp-jobs-text {
  color: gray;
  width: 60%;
  margin: 1px 0 3px;
  letter-spacing: 1px;
  text-align: center;
}
.exp-jobs-cards-container {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
}
.exp-jobs-cards-container-row-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.exp-jobs-card {
  height: 230px;
  width: 255px;
  border: 1px solid lightgray;
  margin: 20px;
  box-shadow: 3px 3px 5px grey;
  padding: 25px 12px;
  transform: 1s;
  display: flex;
  justify-content: center;

  flex-direction: column;
  cursor: pointer;
}
.exp-jobs-card:hover {
  box-shadow: 5px 5px 9px grey;
}
.exp-jobs-card-heading {
  font-weight: bolder;
  font-size: large;
  letter-spacing: 0.9px;
}
.exp-jobs-card-section1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;
  font-size: small;
  flex-wrap: wrap;
}
.exp-jobs-card-section2 {
  display: flex;
  justify-content: flex-start;
  
  align-items: center;
  margin: 15px 0 2px;
  font-size: small;
}
.exp-jobs-card-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #5c52ba;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-right: 15px;

}

.exp-jobs-card-img-right-box-sub-heading{
  color: grey;
}
.exp-jobs-card-img-right-box-heading{

font-weight: bold;
font-size: 15px;
}
.see-more-button {
  height: 50px;
  width: 150px;
  background-color: salmon;
  border: none;
  color: white;
  margin-top: 30px;
  font-size: large;
  cursor: pointer;
  border-radius: 25px;
}
